<%= render 'common/header' %>
<div class="adnatPageHeader">
    <h2>Login</h2>
</div>

<%= form_with(url: sessions_new_path, method: "get") do |form| %>
  <div class=adnatLoginInputBlock>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class=adnatLoginInputBlock>
    <%= label_tag :password %>
    <%= password_field(:user, :password) %>
  </div>
  <div>
      <%= label_tag :remember, 'Remember me'  %>
      <%= form.check_box :remember %>
  </div>
  <div class=”actions”>
    <%= form.submit 'Login'%>
  </div>
<% end %>
<%= link_to 'Sign Up', controller: 'users', action: 'new' %>
<div><a href="#">Forgot your Password?</a></div>