<%= render 'common/header' %>
<h1>Edit Organisation</h1>

<%= form_with(model: @organisation, local: true) do |form| %>
    <p>
    <%= form.label :org_name %>
    <%= form.text_field :org_name %>
    </p>
 
    <p>
    <%= form.label :hourly_rate %>
    <%= form.text_field :hourly_rate %>
    </p>

    <p>
    <%= form.submit %>
    </p>
<% end %>


<div><%= link_to 'Delete', organisation_path(@organisation),
      method: :delete,
      data: {confirm: 'are you sure?'} =%><div>
<div><%= link_to 'Back', organisation_path %></div>