<div>
  <div class="adnatHeader">
    <h1>ADNAT</h1>
  </div>
</div>

<div>
  <p>Logged in as:   <a href="#">LogOut</a></p>
  <p>You are not the member of any organisations.<br>
    Join an existing one or create a new one</p>
</div>

<div>
  <h1>Organisations</h1>
  <table>
    <% @organisation.each do |org| %>
    <tr>
      <td><%=org.org_name =%></td>
      <td><%=org.hourly_rate =%></td>
      <td><%= link_to 'Edit', edit_organisation_path(org) =%></td>
      <td><%= link_to 'Delete', organisation_path(org),
      method: :delete,
      data: {confirm: 'are you sure?'} =%></td>
    </tr>
    <% end %>
  </table>
</div>


<div>
    <h1>Create Organisation</h1>
    <%= render 'form' %>
</div>
